{% extends 'base.html' %}
{% load static %}
{% block main %}
<div id="body" class="theme-cyan">

    <div class="auth-main">
        <div class="auth_div vivify fadeIn">
            <div class="auth_brand">
                <a class="navbar-brand" href="/"><img src="{% static 'assets/images/icon.svg' %}" width="50" class="d-inline-block align-top mr-2" alt="">SBSJ</a>
            </div>
            <div class="card">
                <div class="body">
<!--                    <button class="btn btn-signin-social"><i class="fa fa-facebook-official facebook-color"></i> Sign in with Naver</button>-->
<!--                    <div class="separator-linethrough"><span>OR</span></div>-->
                    <form method="POST" class="form-auth-small">
                        {% csrf_token %}
                        <div class="form-group c_form_group">
                            <label>ID</label>
                            <input type="text" class="form-control" id="username" placeholder="아이디를 입력하세요." name="username">  <!--id, name 확인하기-->
                        </div>
                        <div class="form-group c_form_group">
                            <label>Email</label>
                            <input type="email" class="form-control" id="email" placeholder="이메일을 입력하세요." name="email">  <!--id, name 확인하기-->
                        </div>
                        <div class="form-group c_form_group">
                            <label>비밀번호</label>
                            <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요." name="password">  <!--id, name 확인하기-->
                        </div>
                        <div class="form-group c_form_group">
                            <label>비밀번호 확인</label>
                            <input type="password" class="form-control" id="re_password" placeholder="비밀번호를 다시 입력하세요." name="re_password">  <!--id, name 확인하기-->
                        </div>
                        <span style="color: red;">{{register_error}}</span>
                        <button type="submit" class="btn btn-dark btn-lg btn-block">가입하기</button>
                        <div class="bottom">
                            <span>이미 회원가입을 하셨다면? <a href="../login">로그인하기</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="animate_lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <!-- END WRAPPER -->
</div>
{% endblock %}
